<%= form_with model: @task, local: true do |f| %>
<%= render 'shared/error', model: f.object %>
  <div class="field mt-2">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, class: "form-control"%>
  </div>
  <div class="field mt-2">
    <%= f.label :content, "内容" %>
    <%= f.text_area :content, class: "form-control"%>
  </div>
  <div class="field mt-2">
    <%= f.label :deadline, "締め切り" %><br>
    <%= f.datetime_select :deadline,{},class: "form-control bootstrap-date"%>
  </div>
  <div class="field mt-2">
    <%= f.label :status_id, "ステータス" %><br>
    <%= f.collection_radio_buttons(:status_id, Status.all, :id, :name, {}, {class: "status-select"}) %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id%>

  <% if params[:action] == "edit" %>
    <%= f.submit '更新する', class: 'btn btn-success' %>
  <% else %>
    <%= f.submit '作成する', class: 'btn btn-success' %>
  <% end %>

  <%= link_to "一覧へ戻る", root_path, class:"btn btn-light"%>
<% end %>