<%= form_with model: @task, local: true do |f| %>
    <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control"%>
    </div>
    <div class="field">
        <%= f.label :content %>
        <%= f.text_area :content, class: "form-control"%>
    </div>
    <div class="field">
        <%= f.label :deadline %>
        <%= f.datetime_select :deadline,{}%>
    </div>
    <div class="field">
        <%= f.label :status_id %>
        <%= f.collection_select(:status_id, Status.where.not(id: 3), :id, :name, {}, {class: "status-select"}) %>
    </div>
    <%= f.submit '更新する', class: 'btn btn-primary' %>
    <%= link_to "一覧へ戻る", root_path, class:"btn btn-light"%>
<% end %>