<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
    <%= link_to "タスク管理アプリ",root_path, class: "navbar-brand"%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "タスク一覧", root_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
        <%if user_signed_in?%>
          <%= link_to "マイタスク", user_path(current_user.id), class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "ユーザー設定", edit_user_registration_path, class: "nav-link", tabindex: "-1"%>
        </li>
        <% end %>
      </ul>
      <div class="mt-2 mt-md-0 d-flex">
        <%if user_signed_in? %>
          <p class="mt-2">ようこそ<%= current_user.name%>さん</p>
          <%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: "nav-link", tabiindex: "-1",data: { confirm: '本当にログアウトしますか?' } %>
        <% else %>
          <%= link_to "サインアップ", new_user_registration_path, tabindex: "-1", class: "nav-link" %>
          <%= link_to "ログイン", new_user_session_path, tabindex: "-1", class: "nav-link" %>
        <% end %>
      </div>
    </div>
  </nav>
  <% if flash[:notice] %>
    <% flash.each do |message_type, message|%>
      <%= content_tag :div, message, class: "alert alert-success"%>
    <% end %>
  <% else %>
    <% flash.each do |message_type, message|%>
      <%= content_tag :div, message, class: "alert alert-danger"%>
    <% end %>
  <% end %>

    <%= yield %>
  </body>
</html>
